interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.clodo.ru/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      HOST_FULL_NAME:
      - wn00.mn.clodo.ru
      X-Auth-Token:
      - '[REDACTED]'
      X-Auth-Token-Expired:
      - 2022-05-27T19:48:19+0300
      X-Auth-Token-Issued:
      - 2022-05-27T19:28:19+0300
      X-Server-Management-Url:
      - https://api.clodo.ru/v1
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://api.clodo.ru/v1/images
  response:
    body:
      string: '{"images":[{"id":"1988","name":"Debian 9 32 bits","vps_type":"VirtualServer","status":"ACTIVE"},{"id":"1990","name":"Debian
        9 64 bits","vps_type":"VirtualServer","status":"ACTIVE"},{"id":"2022","name":"Debian
        10 32 bits","vps_type":"VirtualServer","status":"ACTIVE"},{"id":"2024","name":"Debian
        10 64 bits","vps_type":"VirtualServer","status":"ACTIVE"},{"id":"2048","name":"Debian
        11 64 bits","vps_type":"VirtualServer","status":"ACTIVE"},{"id":"1091","name":"CentOS
        6 32 bits","vps_type":"VirtualServer","status":"ACTIVE[...]
