interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.clodo.ru/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      HOST_FULL_NAME:
      - wn00.mn.clodo.ru
      X-Auth-Token:
      - '[REDACTED]'
      X-Auth-Token-Expired:
      - 2022-05-27T19:48:19+0300
      X-Auth-Token-Issued:
      - 2022-05-27T19:28:19+0300
      X-Server-Management-Url:
      - https://api.clodo.ru/v1
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://api.clodo.ru/v1/servers
  response:
    body:
      string: '{"servers":{"server":[{"id":"60","name":"main","imageId":"561","type":"VirtualServer","status":"is_running","os_type":"debian","os_bits":"64","addresses":{"public":{"ip":[{"-addr":"188.127.237.202","-primary_ip":"1","-self-closing":"true"},{"-addr":"188.127.237.203","-self-closing":"true"}]}}},{"id":"186","name":"scale","imageId":"531","type":"ScaleServer","status":"is_running","os_type":"centos","os_bits":"32","addresses":{"public":{"ip":[{"-addr":"188.127.245.119","-primary_ip":"1","-self-closing":"true"},{"-addr":"188.127.245.120","-self-closing":"true"}]}}}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      HOST_FULL_NAME:
      - wn00.ix.clodo.ru
    status:
      code: 200
      message: OK
version: 1
